ipython
Markdown==3.3.3
flake8
flake8-commas==2.0.0
coverage==4.5.4
tblib==1.4.0
flake8-builtins
flake8-docstrings
flake8-colors
flake8-noqa
flake8-return
flake8-todo
flake8-print
flake8-tabs
flake8-exceptions
flake8-simplify
flake8-raise
flake8-fixme
